$primary-alizarin: #b50000; //critical Alert, Errors
$primary-sanctuary: #dc2a2a; //Accent
$primary-tango: #f37120; //Selected action, Tab
$primary-lucis: #f7931e; //Non-Critical Alerts, Errors
$primary-hyperionh: #f4c120;
$primary-empire: #1d4354; //Accent
$primary-deepSky: #06bfff;
$primary-viking: #61a9c6; //Accent
$primary-emerald: #226a55; //Accent

$control-pacific: #047bc0; //Primary Action, Link
$control-kaiju: #1e824c; //Toggle, Accent

$grayscale-nero: #151617; // Global Header, Primary Text
$grayscale-fortress: #292d2f; // Nav Tab bg, Modal Header
$grayscale-kadesh: #3e4346; //Active Tab
$grayscale-gunmetal: #5d6569; //SubText
$grayscale-apex: #6d7878;
$grayscale-defiant: #869297; //Non-crittical Action, Link
$grayscale-silverlight: #a5b3ba; //Form border, disabled, hint text
$grayscale-baliHai: #dae4ea; //Accent
$grayscale-haze: #eff4f6; //Table header, lines, disbled bg
$grayscale-gainesboro: #f6f8fa; //Accent
$grayscale-chrome: #f9fbfb; //Sidebars
$grayscale-erebus: #fcfdfd; //Knockout Text
$grayscale-white: #ffffff;
